@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confermata";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Hai verificato correttamente la validità della tua email. Puoi finalmente effettuare l'accesso ed iniziare a creare degli ordini.
    </p>
</div>
