@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma recupero password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Abbiamo inviato nella tua casella email un link utile al recupero della tua password.
</p>

