@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Conferma del reset della password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La password è stata resettata con successo. Clicca <a asp-page="./Login">su questo link</a> per effettuare il log in.
</p>
