@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ai sensi del D. Lgs. 196/03 e dal regolamento UE 2016/679 per la protezione dei dati personali, questo messaggio è destinato unicamente alla persona o al soggetto al quale è indirizzato e può contenere informazioni riservate e/o coperte da segreto professionale, la cui divulgazione è proibita. Qualora non siate i destinatari designati non dovrete leggere, utilizzare, diffondere o copiare le informazioni trasmesse. Nel caso aveste ricevuto questo messaggio per errore, vogliate cortesemente contattare il mittente e cancellare il materiale dai vostri computer.

    --

    According to D. Lgs. 196/03 and by the EU regulation 2016/679 for the protection of personal data, this message is intended only for the person or entity to which it is addressed and may contain confidential and/or privileged information, the disclosure of which is prohibited. If you are not the intended recipient you may not read, use, disseminate or copy the information transmitted. If you have received this message in error, please contact the sender and delete the material from any computer.
</p>
<span>@PlatformServices.Default.Application.ApplicationVersion</span>

