@model loft1Mvc.Models.OrdineDalCliente
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "Nuovo ordine cliente";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row  text-center">
	<div class="col-md-8 offset-2 text-center mx-auto">
		<form class="needs-validation" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-row">
				<div class="col-md-2 mb-3">
					<label asp-for="Cliente" class="control-label"></label>
					<input asp-for="Cliente" class="form-control" id="txtCliente" />
					<span asp-validation-for="Cliente" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="Rappresentante" class="control-label"></label>
					<input asp-for="Rappresentante" class="form-control" id="txtRappresentante" />
					<span asp-validation-for="Rappresentante" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="DataOrdine" class="control-label"></label>
					<input asp-for="DataOrdine" class="form-control" id="txtDataOrdine" readonly="readonly" />
					<span asp-validation-for="DataOrdine" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="DataConsegna" class="control-label"></label>
					<input asp-for="DataConsegna" class="form-control" id="txtDataConsegna" />
					<span asp-validation-for="DataConsegna" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="Indirizzo" class="control-label"></label>
					<input asp-for="Indirizzo" class="form-control" id="txtIndirizzo" />
					<span asp-validation-for="Indirizzo" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="Pagamento" class="control-label"></label>
					<input asp-for="Pagamento" class="form-control" id="txtPagamento" />
					<span asp-validation-for="Pagamento" class="text-danger"></span>
				</div>

				@if (!string.IsNullOrEmpty(Context.Session.GetString("isOrdineInCorso")))
				{
					<div class="col-md-2 mb-3">
						<label asp-for="Cliente" class="control-label"></label>
						<input asp-for="Cliente" class="form-control" id="txtCliente" readonly="readonly" />
						<span asp-validation-for="Cliente" class="text-danger"></span>
					</div>
					<div class="col-md-2 mb-3">
						<label asp-for="Rappresentante" class="control-label"></label>
						<input asp-for="Rappresentante" class="form-control" id="txtRappresentante" readonly="readonly" />
						<span asp-validation-for="Rappresentante" class="text-danger"></span>
					</div>
					<div class="col-md-2 mb-3">
						<label asp-for="DataOrdine" class="control-label"></label>
						<input asp-for="DataOrdine" class="form-control" id="txtDataOrdine" readonly="readonly" />
						<span asp-validation-for="DataOrdine" class="text-danger"></span>
					</div>
					<div class="col-md-2 mb-3">
						<label asp-for="DataConsegna" class="control-label"></label>
						<input asp-for="DataConsegna" class="form-control" id="txtDataConsegna" readonly="readonly" />
						<span asp-validation-for="DataConsegna" class="text-danger"></span>
					</div>
					<div class="col-md-2 mb-3">
						<label asp-for="Indirizzo" class="control-label"></label>
						<input asp-for="Indirizzo" class="form-control" id="txtIndirizzo" readonly="readonly" />
						<span asp-validation-for="Indirizzo" class="text-danger"></span>
					</div>
					<div class="col-md-2 mb-3">
						<label asp-for="Pagamento" class="control-label"></label>
						<input asp-for="Pagamento" class="form-control" id="txtPagamento" readonly="readonly" />
						<span asp-validation-for="Pagamento" class="text-danger"></span>
					</div>
				}

			</div>

			<hr />
			<div class="form-row">
				<div class="col-md-4 offset-2 mb-3">
					<label asp-for="Codice" class="control-label"></label>
					<input asp-for="Codice" class="form-control" id="txtCodice" onblur="return getColorePerArticolo();" />
					<span asp-validation-for="Codice" class="text-danger"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label asp-for="Colore" class="control-label text-center"></label>
					@Html.DropDownListFor(p => p.Colore, new SelectList(""), new { @class = "form-control  text-center", @disabled = "disabled", @id = "dropdownColore" })
					<span asp-validation-for="Colore" class="text-danger"></span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-1 mb-3">
					<label asp-for="Xxxs" class="control-label"></label>
					<input asp-for="Xxxs" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xxxs" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="Xxs" class="control-label"></label>
					<input asp-for="Xxs" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xxs" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="Xs" class="control-label"></label>
					<input asp-for="Xs" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xs" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="S" class="control-label"></label>
					<input asp-for="S" class="form-control" autocomplete="off" />
					<span asp-validation-for="S" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="M" class="control-label"></label>
					<input asp-for="M" class="form-control" autocomplete="off" />
					<span asp-validation-for="M" class="text-danger"></span>
				</div>
				<div class="col-md-2 mb-3">
					<label asp-for="L" class="control-label"></label>
					<input asp-for="L" class="form-control" autocomplete="off" />
					<span asp-validation-for="L" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="Xl" class="control-label"></label>
					<input asp-for="Xl" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xl" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="Xxl" class="control-label"></label>
					<input asp-for="Xxl" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xxl" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="Xxxl" class="control-label"></label>
					<input asp-for="Xxxl" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xxxl" class="text-danger"></span>
				</div>
				<div class="col-md-1 mb-3">
					<label asp-for="Xxxxl" class="control-label"></label>
					<input asp-for="Xxxxl" class="form-control" autocomplete="off" />
					<span asp-validation-for="Xxxxl" class="text-danger"></span>
				</div>
			</div>

			@*<div class="form-group">
					<label asp-for="attr1" class="control-label"></label>
					<input asp-for="attr1" class="form-control" />
					<span asp-validation-for="attr1" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="attr2" class="control-label"></label>
					<input asp-for="attr2" class="form-control" />
					<span asp-validation-for="attr2" class="text-danger"></span>
				</div>*@
			<div class="form-group">
				<input type="submit" value="Inserisci" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function myfunction() {
			$.ajax({
				type: "GET",
				url: "/ArticoloAnnullato/SelectColoriFromId",
				data: { id: id },
				success: function (data) {
					console.log(data.length);
					$('#dropdownColore').removeAttr("disabled");
					if (data.length == 0) {
						var s = '<option value="-1">Seleziona un colore</option>';
						$("#dropdownColore").html(s);
					}
					else {
						for (var i = 0; i < data.length; i++) {
							var s = '<option value="-1">Seleziona un colore</option>';
							for (var i = 0; i < data.length; i++) {
								console.log(data[i]);
								s += '<option value="' + data[i].colore + '">' + data[i].colore + '</option>';
							}
							$("#dropdownColore").html(s);
						}
					}
				},
				error: function () {
					console.log("Errore");
				}
			});
		});

		function cancelFields() {
			var i = confirm('Sei sicuro?');
			if (i) {
				location.reload();
			}
			else {
				return false;
			}
		}
		function getColorePerArticolo() {
			let id = $('#txtCodice').val();
			console.log(id);
			$.ajax({
				type: "POST",
				url: "/ArticoloAnnullato/SelectColoriFromId",
				data: { id: id },
				success: function (data) {
					console.log(data.length);
					$('#dropdownColore').removeAttr("disabled");
					if (data.length == 0) {
						var s = '<option value="-1">Seleziona un colore</option>';
						$("#dropdownColore").html(s);
					}
					else {
						for (var i = 0; i < data.length; i++) {
							var s = '<option value="-1">Seleziona un colore</option>';
							for (var i = 0; i < data.length; i++) {
								console.log(data[i]);
								s += '<option value="' + data[i].colore + '">' + data[i].colore + '</option>';
							}
							$("#dropdownColore").html(s);
						}
					}
				},
				error: function () {
					console.log("Errore");
				}
			});
		}
	</script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

