@model loft1Mvc.Models.InfoPreliminariOrdineCliente
@{
	ViewData["Title"] = "InfoPreliminariRappresentante";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>InfoPreliminariRappresentante</h1>

<div class="row  text-center">
	<div class="col-md-8 offset-2 text-center  mx-auto">
		<form class="needs-validation" asp-action="IndexRappresentante">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label asp-for="Cliente" class="control-label"></label>
					<input asp-for="Cliente" class="form-control" autocomplete="off" />
					<span asp-validation-for="Cliente" class="text-danger"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label asp-for="Indirizzo" class="control-label"></label>
					<input asp-for="Indirizzo" class="form-control" autocomplete="off" />
					<span asp-validation-for="Indirizzo" class="text-danger"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label asp-for="DataConsegna" class="control-label"></label>
					<input asp-for="DataConsegna" class="form-control" autocomplete="off" />
					<span asp-validation-for="DataConsegna" class="text-danger"></span>
				</div>
			</div>
			<hr />
			<div>
				<input type="submit" style="height:100% !important" class="btn btn-lg btn-primary" value="Prosegui" />
			</div>
		</form>
	</div>
</div>

