@model loft1Mvc.Models.OrdineAlFornitore

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrdineAlFornitore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdOrdine" class="control-label"></label>
                <input asp-for="IdOrdine" class="form-control" />
                <span asp-validation-for="IdOrdine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fornitore" class="control-label"></label>
                <input asp-for="Fornitore" class="form-control" />
                <span asp-validation-for="Fornitore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codice" class="control-label"></label>
                <input asp-for="Codice" class="form-control" />
                <span asp-validation-for="Codice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colore" class="control-label"></label>
                <input asp-for="Colore" class="form-control" />
                <span asp-validation-for="Colore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrezzoAcquisto" class="control-label"></label>
                <input asp-for="PrezzoAcquisto" class="form-control" />
                <span asp-validation-for="PrezzoAcquisto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrezzoVendita" class="control-label"></label>
                <input asp-for="PrezzoVendita" class="form-control" />
                <span asp-validation-for="PrezzoVendita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xxxs" class="control-label"></label>
                <input asp-for="Xxxs" class="form-control" />
                <span asp-validation-for="Xxxs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xxs" class="control-label"></label>
                <input asp-for="Xxs" class="form-control" />
                <span asp-validation-for="Xxs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xs" class="control-label"></label>
                <input asp-for="Xs" class="form-control" />
                <span asp-validation-for="Xs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="S" class="control-label"></label>
                <input asp-for="S" class="form-control" />
                <span asp-validation-for="S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M" class="control-label"></label>
                <input asp-for="M" class="form-control" />
                <span asp-validation-for="M" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L" class="control-label"></label>
                <input asp-for="L" class="form-control" />
                <span asp-validation-for="L" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xl" class="control-label"></label>
                <input asp-for="Xl" class="form-control" />
                <span asp-validation-for="Xl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xxl" class="control-label"></label>
                <input asp-for="Xxl" class="form-control" />
                <span asp-validation-for="Xxl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xxxl" class="control-label"></label>
                <input asp-for="Xxxl" class="form-control" />
                <span asp-validation-for="Xxxl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xxxxl" class="control-label"></label>
                <input asp-for="Xxxxl" class="form-control" />
                <span asp-validation-for="Xxxxl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="attr1" class="control-label"></label>
                <input asp-for="attr1" class="form-control" />
                <span asp-validation-for="attr1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="attr2" class="control-label"></label>
                <input asp-for="attr2" class="form-control" />
                <span asp-validation-for="attr2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
