@model StockManagement.Models.ViewModels.EditRigaOrdineClienteViewModel

@{
    ViewData["Title"] = "Modifica riga ordine";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-action="Create" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Indietro</a>
    </div>
    <div class="col-sm-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>

<!-- form inserimento -->
<div class="row">
    <div class=" col-sm-12 col-md-12 mx-auto mb-3">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="form-row justify-content-center">
                    <form asp-action="EditRow">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdRiga" />
                        <div class="form-row justify-content-center">
                            <div class="col-md-4 mb-3">
                                <label asp-for="CodiceArticolo" class="control-label"></label>
                                <input asp-for="CodiceArticolo" id="txtCodiceArticolo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CodiceArticolo" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="Colore" class="control-label"></label>
                                <input asp-for="Colore" id="txtColore" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Colore" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-1 mb-3">
                                <label asp-for="Xxs" class="control-label"></label>
                                <input asp-for="Xxs" id="txtXxs" class="form-control" />
                                <span asp-validation-for="Xxs" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="Xs" class="control-label"></label>
                                <input asp-for="Xs" id="txtXs" class="form-control" />
                                <span asp-validation-for="Xs" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="S" class="control-label"></label>
                                <input asp-for="S" id="txtS" class="form-control" />
                                <span asp-validation-for="S" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="M" class="control-label"></label>
                                <input asp-for="M" id="txtM" class="form-control" />
                                <span asp-validation-for="M" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="L" class="control-label"></label>
                                <input asp-for="L" id="txtL" class="form-control" />
                                <span asp-validation-for="L" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="Xl" class="control-label"></label>
                                <input asp-for="Xl" id="txtXl" class="form-control" />
                                <span asp-validation-for="Xl" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="Xxl" class="control-label"></label>
                                <input asp-for="Xxl" id="txtXxl" class="form-control" />
                                <span asp-validation-for="Xxl" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label asp-for="Xxxl" class="control-label"></label>
                                <input asp-for="Xxxl" id="txtXxxl" class="form-control" />
                                <span asp-validation-for="Xxxl" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label asp-for="TagliaUnica" class="control-label"></label>
                                <input asp-for="TagliaUnica" id="txtTagliaUnica" class="form-control" />
                                <span asp-validation-for="TagliaUnica" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btnConferma" value="Conferma" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let codice = $('#txtCodiceArticolo').val();
        let colore = $('#txtColore').val()
        $.ajax({
            type: "POST",
            url: "/Articolo/getTaglieDisponibili",
            data: { codice: codice, colore: colore },
            success: function (data) {
                console.log(data);
                if (data.xxs) {
                    $('#txtXxs').val("0");
                    $('#txtXxs').attr("readonly", "readonly");
                }
                else {
                    $('#txtXxs').removeAttr("readonly");
                }
                if (data.xs) {
                    $('#txtXs').val("0");
                    $('#txtXs').attr("readonly", "readonly");
                }
                else {
                    $('#txtXs').removeAttr("readonly");
                }
                if (data.s) {
                    $('#txtS').val("0");
                    $('#txtS').attr("readonly", "readonly");
                }
                else {
                    $('#txtS').removeAttr("readonly");
                }
                if (data.m) {
                    $('#txtM').val("0");
                    $('#txtM').attr("readonly", "readonly");
                }
                else {
                    $('#txtM').removeAttr("readonly");
                }
                if (data.l) {
                    $('#txtL').val("0");
                    $('#txtL').attr("readonly", "readonly");
                }
                else {
                    $('#txtL').removeAttr("readonly");
                }
                if (data.xl) {
                    $('#txtXl').val("0");
                    $('#txtXl').attr("readonly", "readonly");
                }
                else {
                    $('#txtXl').removeAttr("readonly");
                }
                if (data.xxl) {
                    $('#txtXxl').val("0");
                    $('#txtXxl').attr("readonly", "readonly");
                }
                else {
                    $('#txtXxl').removeAttr("readonly");
                }
                if (data.xxxl) {
                    $('#txtXxxl').val("0");
                    $('#txtXxxl').attr("readonly", "readonly");
                }
                else {
                    $('#txtXxxl').removeAttr("readonly");
                }
                if (data.tagliaUnica) {
                    $('#txtTagliaUnica').val("0");
                    $('#txtTagliaUnica').attr("readonly", "readonly");
                }
                else {
                    $('#txtTagliaUnica').removeAttr("readonly");
                }
                if (data.isArticoloValido) {
                    $('#btnInserisci').removeAttr("disabled");
                }
                else {
                    $('#btnInserisci').attr("disabled", "disabled");
                }
            },
            error: function () {
                alert("Errore");
            }
        })
    });
</script>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
