@model StockManagement.Models.OrdineCliente

@{
    ViewData["Title"] = "Riepilogo ordine";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-controller="OrdineCliente" asp-action="ImpostaTipoPagamento" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Indietro</a>
    </div>
    <div class="col-sm-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="~/documenti/INFORMATIVA PRIVACY.pdf"></iframe>
        </div>
    </div>
    <div class="col-12 mt-3">
        <form asp-action="Riepilogo">
            <div class="form-check float-left">
                <input class="form-check-input" type="checkbox" value="false" name="condizioniAccettate" id="condizioniAccettate" onchange="abilitaConcludiOrdine(this)">
                <label class="form-check-label" for="condizioniAccettate">
                    Accetta le condizioni
                </label>
            </div>
            <input type="submit" id="btnConcludiOrdine" class="btn rounded-pill btn-outline-danger float-right" value="Concludi ordine" disabled="disabled"/>
        </form>
    </div>
</div>