@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Loft1 Gestione Magazzino</title>

	<!-- To collect end-user usage analytics about your application, insert the following script into each page you want to track. Place this code immediately before the closing </head> tag, and before any other scripts. Your first data will appear automatically in just a few seconds. -->
	<script type="text/javascript">var appInsights = window.appInsights || function (a) { function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c }({ instrumentationKey: "6ad75897-cbfc-43cd-a19a-29fb4ddd85ef" }); window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();</script>

	<script src="~/dist/main.bundle.js" asp-append-version="true"></script>
	@Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Loft1-Gestione Magazzino</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				@if (User.Identity.IsAuthenticated)
				{
					<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Operazioni
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									@if (User.Identity.Name.IndexOf("admin") != -1)
									{
										<a class="dropdown-item" asp-controller="Articolo" asp-action="Index">Inserimento Articolo</a>
										<a class="dropdown-item" asp-controller="ArticoloAnnullato" asp-action="Index">Annullamento Articolo</a>
										<a class="dropdown-item" asp-controller="OrdineAlFornitore" asp-action="Index">Ordine al fornitore</a>
										<a class="dropdown-item" asp-controller="PackingList" asp-action="Index">Packing list</a>
									}
									<a class="dropdown-item" asp-controller="OrdineDalCliente" asp-action="Index">Ordine Clienti</a>
								</div>
							</li>
							@if (User.Identity.Name.IndexOf("admin") != -1)
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-controller="Home" asp-action="Admin">Admin</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
							</li>
						</ul>
					</div>
				}
				<partial name="_LoginPartial" />
			</div>
		</nav>
	</header>
	<div class="container col-12 text-center">
		<partial name="_CookieConsentPartial" />
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2019 - Loft1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	@RenderSection("Scripts", required: false)
</body>
</html>
