@model StockManagement.Models.ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">Errore.</h1>
<h2 class="text-danger">Si è verificato un errore, contattare una commessa che provvederà a farlo risolvere il prima possibile, grazie.</h2>