@model StockManagement.Models.Tipo

@{
    ViewData["Title"] = "Dettaglio tipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-4">
        <a asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Torna alla lista</a>
    </div>
    <div class="col-sm-4 text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-4 offset-4 mx-auto">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <dl class="row justify-content-center">
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-md-5">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                </dl>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill">Modifica</a>
            </div>
        </div>
    </div>
</div>

