@model loft1Mvc.Models.Articolo

@{
	ViewData["Title"] = "Nuovo articolo";
}

<h1>Nuovo articolo</h1>
<hr />
<div class="row  text-center">
	<div class="col-md-8 offset-2 text-center">
		<form class="needs-validation" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-row">
				<div class="col-md-3 mb-3">
					<label asp-for="Fornitore" class="control-label"></label>
					<input asp-for="Fornitore" class="form-control" autocomplete="off" />
					<span asp-validation-for="Fornitore" class="text-danger"></span>
				</div>
				<div class="col-md-3 mb-3">
					<label asp-for="Codice" class="control-label"></label>
					<input asp-for="Codice" class="form-control" autocomplete="off" />
					<span asp-validation-for="Codice" class="text-danger"></span>
				</div>
				<div class="col-md-3 mb-3">
					<label asp-for="Descrizione" class="control-label"></label>
					<input asp-for="Descrizione" class="form-control" autocomplete="off" />
					<span asp-validation-for="Descrizione" class="text-danger"></span>
				</div>
				<div class="col-md-3 mb-3">
					<label asp-for="Colore" class="control-label"></label>
					<input asp-for="Colore" class="form-control" autocomplete="off" />
					<span asp-validation-for="Colore" class="text-danger"></span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-3 mb-3">
					<label asp-for="PrezzoAcquisto" class="control-label"></label>
					<input asp-for="PrezzoAcquisto" class="form-control" autocomplete="off" />
					<span asp-validation-for="PrezzoAcquisto" class="text-danger"></span>
				</div>
				<div class="col-md-3 mb-3">
					<label asp-for="PrezzoVendita" class="control-label"></label>
					<input asp-for="PrezzoVendita" class="form-control" autocomplete="off" />
					<span asp-validation-for="PrezzoVendita" class="text-danger"></span>
				</div>
				<div class="col-md-3 mb-3">
					<label asp-for="TrancheConsegna" class="control-label"></label>
					<input asp-for="TrancheConsegna" class="form-control" autocomplete="off" />
					<span asp-validation-for="TrancheConsegna" class="text-danger"></span>
				</div>
				<div class="col-md-3 mb-3">
					<label asp-for="TipoProdotto" class="control-label"></label>
					@Html.DropDownListFor(p => p.TipoProdotto, new SelectList(ViewBag.tipiProdotto), new { @class = "form-control" })
					<span asp-validation-for="TipoProdotto" class="text-danger"></span>
				</div>
			</div>
			<div>
				<input type="submit" value="Inserisci" style="height:100% !important" class="btn btn-lg btn-primary" />
				<input type="submit" value="Annulla" onclick="return cancelFields();" style="height:100% !important" class="btn btn-lg btn-danger" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-controller="Articolo" asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {

	<script type="text/javascript">
		function cancelFields() {
			var i = confirm('Sei sicuro?');
			if (i) {
				location.reload();
			}
			else {
				return false;
			}
		}
	</script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
